@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bellefair", serif;
  color: white;
  background-image: url('../../starter-code/assets/destination/background-destination-desktop.jpg');
  background-size: cover;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 2rem 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  color: white;
}

.nav-menu {
  list-style: none;
  padding: 30px;
  backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px); 
}

.nav-menu li {
  display: inline;
  margin-left: 30px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 10px;
}

.nav-menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.nav-menu li:hover::after {
  transform: scaleX(1)
}

.nav-menu li.active {
  border-bottom: 2px solid white;
}

.nav-menu span {
  margin-right: 10px;
  font-weight: 700;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 10px;
}

.nav-menu.active {
  right: 0;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

/* Saat menu aktif, tampilkan overlay */
.nav-menu.active ~ #overlay {
  display: block;
}

.crew-section {
  padding: 70px 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}

.crew-section span {
  margin-right: 10px;
  color: hsl(231, 77%, 90%);
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crew-info {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.crew-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

.role {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #c0c0c0;
}

.name {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 10px 0;
  font-weight: 100;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  color: hsl(231, 77%, 90%);
}

.crew-image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%; /
}

.crew-image img {
  width: 400px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel {
  display: flex;
  gap: 10px;
  position: relative;
  top: 150px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot-active {
  background-color: white;
}

/* Animasi masuk (dari kecil ke ukuran normal) */
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animasi keluar (dari ukuran normal ke kecil) */
@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

.scale-in {
  animation: scaleIn 0.5s ease-out forwards;
}

.scale-out {
  animation: scaleOut 0.5s ease-out forwards;
}



@media (max-width: 1200px) {
  body {
    background-image: url('../../starter-code/assets/crew/background-crew-tablet.jpg');
  }

  header {
    padding: 0;
  }

  .navbar {
    padding: 0;
  }

  .navbar .logo {
    margin-left: 20px;
  }

  .crew-section {
    padding: 20px 3rem;
  }

  .crew-info {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .crew-image {
    position: relative;
    top: 100px;
  }
  
  .crew-image img {
    width: 300px;
    height: 400px;
  }

  .carousel {
    top: 50px;
    margin: auto;
  }
}

@media (max-width: 668px) {
  body {
    background-image: url('../../starter-code/assets/destination/background-destination-mobile.jpg');
    background-size: cover;
  }

  .navbar {
    padding: 20px 20px;
  }

  .navbar .logo {
    margin-left: 0;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 80%;
    padding: 50px;
    transition: 0.3s ease-in-out;
    z-index: 2;
  }

  .burger-menu {
    display: flex;
  }

  .header-nav {
    display: flex;
    justify-content: end;
  }

  .menu-icon {
    display: block;
  }

  .header-nav img {
    cursor: pointer;
    display: block;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
  }
  
  .nav-menu li::after {
    left: 100%;
    width: 5px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
  }

  .nav-menu li:hover::after {
    transform: scaleY(1)
  }

  .nav-menu li.active {
    border-bottom: none;
    border-right: 2px solid white;
  }

  .crew-section {
    padding: 10px 3rem;
    align-items: center;
    text-align: center;
  }
  
  .name {
    font-size: 1.5rem;
  }

  .crew-details {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .crew-details {
    width: 290px;
  }
}