@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bellefair", serif;
  color: white;
  background-image: url('../../starter-code/assets/technology/background-technology-mobile.jpg');
  background-size: cover;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 2rem 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  color: white;
}

.nav-menu {
  list-style: none;
  padding: 30px;
  backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px); 
}

.nav-menu li {
  display: inline;
  margin-left: 30px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 10px;
}

.nav-menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.nav-menu li:hover::after {
  transform: scaleX(1)
}

.nav-menu li.active {
  border-bottom: 2px solid white;
}

.nav-menu span {
  margin-right: 10px;
  font-weight: 700;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 10px;
}

.nav-menu.active {
  right: 0;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

/* Saat menu aktif, tampilkan overlay */
.nav-menu.active ~ #overlay {
  display: block;
}

.technology {
  padding: 70px 0 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

.technology span {
  margin-right: 10px;
  color: hsl(231, 77%, 90%);
}

.container {
  display: flex;
}

.left-section {
  flex: 0 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #c0c0c063;
  background-color: transparent;
  color: hsl(230, 35%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Saat tombol circle aktif */
.circle.active {
  background-color: white;
  color: black;
}

.middle-section {
  flex: 0 0 50%;
  padding: 5rem;
  display: flex;
  line-height: 1.5;
  flex-direction: column;
  justify-content: center;
}

.middle-section h3 {
  font-size: 1.5rem;
  font-weight: 100;
  color: #c0c0c0;
}

.middle-section h1 {
  font-size: 3rem;
  font-weight: 100;
  text-transform: uppercase;
}

.middle-section p {
  color: hsl(231, 77%, 90%);
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: end;
}

.right-section img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  body {
    background-image: url('../../starter-code/assets/technology/background-technology-tablet.jpg');
  }

  header {
    padding: 0;
  }

  .navbar {
    padding: 0;
  }

  .navbar .logo {
    margin-left: 20px;
  }

  .technology {
    padding: 0;
  }
  
  .technology .title {
    padding: 10px 0 0 5rem;
    margin-bottom: 40px;
  }
  
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .right-section {
    order: 1;
    margin-bottom: 20px;
  }

  .left-section {
    order: 2;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .middle-section {
    order: 3;
    text-align: center;
  }
}

@media (max-width: 668px) {
  body {
    background-image: url('../../starter-code/assets/technology/background-technology-mobile.jpg');
    background-size: cover;
  }

  .navbar {
    padding: 20px 10px;
  }

  .navbar .logo {
    margin-left: 0;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 80%;
    padding: 50px;
    transition: 0.3s ease-in-out;
    z-index: 2;
  }

  .burger-menu {
    display: flex;
  }

  .header-nav {
    display: flex;
    justify-content: end;
  }

  .menu-icon {
    display: block;
  }

  .header-nav img {
    cursor: pointer;
    display: block;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
  }
  
  .nav-menu li::after {
    left: 100%;
    width: 5px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  
  .nav-menu li:hover::after {
    transform: scaleY(1)
  }

  .nav-menu li.active {
    border-bottom: none;
    border-right: 2px solid white;
  }
  
  .technology .title {
    padding: 0;
    text-align: center;
    font-size: 20px;
  }

  .middle-section {
    padding: 1rem;
    line-height: 2;
  }

  .middle-section h1 {
    font-size: 2rem;
  }
}