@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bellefair", serif;
  color: white;
  background-image: url('../../starter-code/assets/destination/background-destination-desktop.jpg');
  background-size: cover;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 2rem 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  color: white;
}

.nav-menu {
  list-style: none;
  padding: 30px;
  backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px); 
}

.nav-menu li,
.tabs li {
  display: inline;
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 10px;
}

.nav-menu li::after,
.tabs li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.nav-menu li:hover::after,
.tabs li:hover::after {
  transform: scaleX(1)
}

.nav-menu li.active,
.tabs li.active {
  border-bottom: 2px solid white;
}

.nav-menu span {
  margin-right: 10px;
  font-weight: 700;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 10px;
}

.nav-menu.active {
  right: 0;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

/* Saat menu aktif, tampilkan overlay */
.nav-menu.active ~ #overlay {
  display: block;
}

#destination {
  padding: 70px 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}

#destination span {
  margin-right: 10px;
  color: hsl(231, 77%, 90%);
}

.content-info {
  display: flex;
  justify-content: space-around;
}

.image img {
  width: 400px;
  height: auto;
}

.tabs ul {
  list-style: none;
  display: flex;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.tabs ul li a {
  text-decoration: none;
  color: #aaa;
}

.tabs ul li a.active {
  color: #fff;
  border-bottom: 2px solid #fff;
}

#planet-info {
  margin-top: 20px;
}

#planet-info h2 {
  font-size: 4rem;
  font-weight: 100;
}

#planet-info h4 {
  width: 360px;
  font-size: 18px;
  line-height: 180%;
  font-weight: 1;
  text-align: justify;
  color: hsl(231, 77%, 90%);
}

.details {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.details h3 {
  color: hsl(231, 77%, 90%);
  font-weight: 400;   
  font-size: 14px;
  letter-spacing: 2px;

}

.details p {
  font-size: 28px;
}

/* Animasi masuk (dari kecil ke ukuran normal) */
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animasi keluar (dari ukuran normal ke kecil) */
@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

.scale-in {
  animation: scaleIn 0.5s ease-out forwards;
}

.scale-out {
  animation: scaleOut 0.5s ease-out forwards;
}


@media (max-width: 1200px) {
  body {
    background-image: url('../../starter-code/assets/destination/background-destination-tablet.jpg');
  }

  header {
    padding: 0;
  }

  .navbar {
    padding: 0;
  }

  .navbar .logo {
    margin-left: 20px;
  }

  #destination {
    padding: 10px 5rem;
  }

  .content-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .image img {
    width: 250px;
    height: auto;
    margin-bottom: 30px;
  }
  
  .tabs ul {
    justify-content: center;
  }

  #planet-info h4 {
    width: 400px;
    text-align: center;
  }

  .details {
    justify-content: space-around;
  }
}

@media (max-width: 668px) {
  body {
    background-image: url('../../starter-code/assets/destination/background-destination-mobile.jpg');
    background-size: cover;
  }

  .navbar {
    padding: 20px 20px;
  }

  .navbar .logo {
    margin-left: 0;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 80%;
    padding: 50px;
    transition: 0.3s ease-in-out;
    z-index: 2;
  }

  .burger-menu {
    display: flex;
  }

  .header-nav {
    display: flex;
    justify-content: end;
  }

  .menu-icon {
    display: block;
  }

  .header-nav img {
    cursor: pointer;
    display: block;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
  }
  
  .nav-menu li::after {
    left: 100%;
    width: 5px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
  }

  .nav-menu li:hover::after {
    transform: scaleY(1)
  }

  .nav-menu li.active {
    border-bottom: none;
    border-right: 2px solid white;
  }

  #destination {
    padding: 10px 3rem;
    align-items: center;
    text-align: center;
  }

  #destination .title {
    font-size: 20px;
  }

  .content-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .image img {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
  }

  #planet-info h4 {
    width: 300px;
    text-align: center;
  }

  .details {
    flex-direction: column;
  }
}